.Gameboard{
    display: flex;
    
   
   
  
    padding:1.5px;
    min-width: 80%;
    box-shadow: rgba(122, 122, 198, 0.2) 10px 7px 9px 0px;

}
.headline{
  margin-top: 20px;
  margin-bottom:0;

  font-size: large;
  width: 100%;  
  border-top:solid black 4px;
  border-left:solid black 4px;
  border-right:solid black 4px;
  border-radius: 25px;
}