
p{
    width: 100%;
    height:100%;
    word-wrap:break-word;
    overflow-wrap:break-word;
    font-size: clamp(10px,2vw,15px);

}

.GameCardTop{
    border: 2px solid black;
    border-radius: 5px;
    background-color: azure;
    color:black;
}


.card-container{
    perspective: 1000px;
}

.card{
   
    width: 60px;
    height: 90px;
    border: 2px solid rgb(0, 0, 0);

    color: black;
  
   position:relative;
    border-radius: 4px;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left:2px;
    transform-style: preserve-3d;
    transition:transform 0.6s;
}
.card.flipped{
    transform:rotateY(180deg)}


.side{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    backface-visibility: hidden;
}


.front{
    background:blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.back{
    transform: rotateY(180deg);
    

}

.Identical{
    background-color: green;
     
}



.Wrong{
    background-color: red;
    
   
}

.Higher{
    background-color: red;
   
    
}


.Lower{
    background-color: red;

   
}


.Partial{
    background-color: yellow;
    
      
}